@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-12 text-center">
        <h3>
            Signer has finished the signing process
        </h3>
        <br />
        <br />
        <h4>
            Email : @ViewBag.Email
        </h4>
        <br />
        <h4>
            EnvelopeId : @ViewBag.EnvelopeId
        </h4>
        <br />
        <br />
    </div>
</div>